In [22]:
print("hello")

hello

In [6]:
# Arithmatic Operators

In [7]:
# Addition operator
a=10
b=20
c=a+b
print (c)

30

In [9]:
# substraction operator
a=10
b=5
c=a-b
print (c)

5

In [14]:
a=10
b=20
c=a*b
d=a/b
e=a%b  #modulo
f=a//b #floor
g=a**b #exponntial
print (c)
print (d)
print (e)
print (f)
print (g)

200
0.5
10
0
100000000000000000000

In [15]:
# Comparision Operator
a=10
b=5
c=a==b
print (c)

False

In [16]:
a=10
b=5
c=a!=b
print (c)

True

In [17]:
a=10
b=5
c=a<b
print (c)

False

In [18]:
a=10
b=5
c=a>b
print (c)

True

In [19]:
a=10
b=5
c=a<=b
print (c)

False

In [20]:
a=10
b=5
c=a>=b
print (c)

True

In [25]:
#Logical Operator
a=2
b=1
print (a and b)
print (a and a)
print (b and b)
print (b and a)

1
2
1
2

In [1]:
# pass atatement
a=10
b=20
if a>b :
   pass
print("a is not greater than b")

a is not greater than b

In [6]:
##########split string rigt to specific separator
text = "one, two, three, four"
print(text.rsplit(' ',1))

['one, two, three,', 'four']

In [1]:
#split the string at line breaks.
# split the string at line break
text = "Hellow\nWorld\n!"
print(text)
print(text.splitlines())

Hellow
World
!
['Hellow', 'World', '!']

In [3]:
#join the element of an iteration
words= ["hello","python","world"]
print (" ".join(words))

hello python world

In [4]:
#return the lowest index where lowest substring is found
text ="hello, world, python!"
print(text.find("world"))

7

In [12]:
#return the lowest index where lowest substring is found
#hello,world,sakshi 
#123456789101112-sakshi
text ="hello,world,sakshi ,vaishnavi!"
print(text.find("sakshi"))

12

In [13]:
# like find(), but raises a valueError if the substring is not found
text ="hello,python,world!"
print(text.index("world"))

13

In [14]:
#replaces occurrences of a substring with a new string.
text ="hello,world!"
print(text.replace("world","python"))

hello,python!

In [2]:
text ="python,python,python"
print(text.replace("python","pythons"))

pythons,pythons,pythons

Trimming

In [5]:
 # remove leadind and trailing characters.
text ="        hello,world!          "
print(text)
print(text.strip()) # space strip

        hello,world!
hello,world!

In [6]:
#remove leadind characters.
# first space remove only
text ="        hello,world!          "
print(text)
print(text.lstrip())

        hello,world!
hello,world!

In [3]:
##remove leadind characters.
text ="         hello,world!          "
print(text)
print(text.rstrip())

         hello,world!
         hello,world!

 Sring testing

In [1]:
# check if the srting starts with the specifified prifix.
text = "hello,world!"
print(text.startswith("hello"))

True

In [6]:
# check if all characters are alphabetic.
text = "A2345ello"# is alphabetic
print(text.isalpha())

False

In [7]:
text = "A2345ello"# is alphabetic
print(text.isalnum())

True

In [1]:
# check if  the string contains only whitespaces.

In [7]:
# list of string 
string = ["banana","papaya","guava","pineapple"]
print (string)

['banana', 'papaya', 'guava', 'pineapple']

In [8]:
# list of integers
numbers = [1,2,3,4,5]
print (numbers)

[1, 2, 3, 4, 5]

In [9]:
#mixed data type
mixed_list = [1,"hello",3.15,True,'s']
print(mixed_list)

[1, 'hello', 3.15, True, 's']

In [10]:
# using the list( function)
another_list = list ((1,2,3,4,5))
print(another_list)

[1, 2, 3, 4, 5]

Accessing Elements in list

In [11]:
# accessing element
fruits=["apple","banana","cherry","pineapple"]
print(fruits[0])
print(fruits[1])
print(fruits[-1])

apple
banana
pineapple

In [12]:
# slicing list 
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])

['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry', 'pineapple']

Modifying list

In [16]:
# adding element
# list of fruits
fruits=["apple","banana"]

# append an item to the end
fruits.append("cherry")
print(fruits)

# extend the list with another
fruits.extend(["date","elderberry"])
print(fruits)

# insert an item at a specific position
fruits.insert(1,"blueberry")
print (fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'blueberry', 'banana', 'cherry', 'date', 'elderberry']

In [19]:
# list of fruits
fruits= ["apple", "banana", "cherry","banana"]
# remove occurrence of an item
fruits.remove("banana")
print(fruits)
# remove item at specific position and return it
popped_item = fruits.pop(1)
print(popped_item)
print(fruits)
# remove the last item and returm it
last_item = fruits.pop
print(last_item)
print(fruits)
# clear the entire list
fruits.clear()
print(fruits)

['apple', 'cherry', 'banana']
cherry
['apple', 'banana']
<built-in method pop of list object at 0x000001FA6CB0D880>
['apple', 'banana']
[]

Changing Elements

In [22]:
# list of fruits
fruits =["apple","banana","cherry"]
print(fruits)
# change an element by index 
fruits[1]="blueberry"
print(fruits)
# change multiple element by slicing
fruits[1:3]=["orange","graps"]
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'blueberry', 'cherry']
['apple', 'orange', 'graps']

list operations

In [24]:
# sorting
# list of numbers
numbers=[9,8,6,5,3,5,6,7,8]
print(numbers)

# sort the list
numbers.sort()
print(numbers)

# sort in descending order
numbers.sort(reverse=True)
print(numbers)

# sorting a list of strings
fruits = ["apple","banana","orange","stroberry","cherry"]
fruits.sort()
print(fruits)

[9, 8, 6, 5, 3, 5, 6, 7, 8]
[3, 5, 5, 6, 6, 7, 8, 8, 9]
[9, 8, 8, 7, 6, 6, 5, 5, 3]
['apple', 'banana', 'cherry', 'orange', 'stroberry']

Reversing

In [25]:
# list of numbers 
numbers=[1,2,3,4,5]
#reverse the list 
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

Joining List

In [26]:
# Two Lists of numbers
num1=[1,2,3,]
num2=[4,5,6]
# concatenate using +
combined = num1 + num2
print(combined)

#concatenate

[1, 2, 3, 4, 5, 6]

 list comprehensions

In [29]:
# creating a list of squares
squares = [x**2 for x in range(11)]
print(squares)

# filtering with list comphrension
even_squares = [x**2 for x in range(10)if x %2 ==0]
print(even_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64]

List method

In [31]:
# count occurrences
#list of fruits
fruits=["apple","banana","blackberry","cherry"]

# countnthe occurences of an item 
index = fruits.index("banana")
print(index)

# count occurense
banana_count = fruits.count("banana")
print(banana_count)

1
1

In [32]:
# list length
# list of fruits
fruits= ["apple","banana","cherry","orange"]

# get the length of list 
length = len(fruits)
print(length)

4

iterating over lists

In [33]:
# list of fruits
fruits = ["apple","banana","cherry"]
# using a for loop

In [36]:
fruits = ["apple","banana","cherry"]
for index, fruits in enumerate(fruits):
     print (index,fruits)

0 apple
1 banana
2 cherry

In [37]:
#nesting
matrix = [[1,2,3],[4,5,6],[7,8,9]]

# asseccing
print(matrix[0])
print(matrix[0][1])
print(matrix[1][2])

#
for row in matrix: 
    for elem in row: 
        print(elem, end='')

[1, 2, 3]
2
6
123456789

Tuples():

In [39]:
#empty tuple
empty_tuples=()
print(empty_tuples)
#tuple of integer
numbers = (1,2,3,4,5)
print(numbers)
#tuple of srings
fruits =("apple","banana","cherry")
print(fruits)
# mixed data type
mixed_tuple =(1,"hello",3.15,True)
print(mixed_tuple)
# tuple function
another_tuple = tuple([1,2,3,4,5])
print(another_tuple)
# single element 
single_element_tuple = (42,)
print(single_element_tuple)

()
(1, 2, 3, 4, 5)
('apple', 'banana', 'cherry')
(1, 'hello', 3.15, True)
(1, 2, 3, 4, 5)
(42,)

Accessing element in a tuple

In [1]:
fruits = ("apple","banana","cherry")

print(fruits[0])
print(fruits[1])
print(fruits[-1])

#slicing tuples

print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])

apple
banana
cherry
('banana', 'cherry')
('apple', 'banana')
('banana', 'cherry')

In [2]:
# Tuple Method
# tuple of member
numbers = (1,2,2,3,4,2)

# Counting the occurence of element
count_of_twos = numbers.count(2)
print(count_of_twos)

3

In [3]:
# index
fruits = ("apple","banana","cherry")

# finding index of an element
index_of_banana = fruits.index("banana")
print(index_of_banana)

1

Basic tuple operation

In [4]:
# len()
fruits = ("apple","banana","cherry")

# Getting the lenght of tuple
length = len (fruits)
print(length)

3

Contatenation

In [8]:
numbers1 = (1,2,3)
numbers2 = (4,5,6)

#Concatenation of tuple
combined = numbers1 + numbers2
print(combined)

(1, 2, 3, 4, 5, 6)

Repetition

In [15]:
single_element_tuple = ("hello ",)

# repeating
repeated_tuple = single_element_tuple * 3
print(repeated_tuple )

single_element_tuple = ("hello, ")

# repeating
repeated_tuple = single_element_tuple * 3
print(repeated_tuple )

single_element_tuple = ("hello,")

# repeating
repeated_tuple = single_element_tuple * 3
print(repeated_tuple )

('hello ', 'hello ', 'hello ')
hello, hello, hello,
hello,hello,hello,

Membership

In [13]:
fruits = ("apple","banana","cherry")

#checking membership
print ("banana" in fruits)
print ("grape" in fruits)

True
False

Iteration

In [16]:
fruits = ("apple","banana","cherry")

# iteration through tuple
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [17]:
# unpacking tuple
fruits = ("apple","banana","cherry")

# unpacking tuple
a,b,c = fruits
print(a)
print(b)
print(c)

# unpacking with more elements
numbers = (1,2,3,4,5)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

apple
banana
cherry
1
[2, 3, 4]
5

Advanced Tuple Usage

In [19]:
# Nested tuples
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

#Accessing element in nested tuple
print(nested_tuple[0])
print(nested_tuple[0][1])
print(nested_tuple[1][2])

(1, 2, 3)
2
c

Dictionary

In [20]:
tuple_dict = {
    (1,2): "a pair of numbers",
    ("x","y"): "a pair of letters"
}

# Accessing dictionary values using tuple key
print (tuple_dict[(1,2)])
print (tuple_dict[("x","y")])

a pair of numbers
a pair of letters

In [21]:
# creating dictionary
person = {"name": "sakshi", "age":"21","city":"pune"}
print (person)

{'name': 'sakshi', 'age': '21', 'city': 'pune'}

In [29]:
#Creating dictionary using the dict() function
person2 = {"name": "rahul", "age":"49","city":"Yavatmal"}
print (person2)

{'name': 'rahul', 'age': '49', 'city': 'Yavatmal'}

Accessing values

In [23]:
# accessing using key
person = {"name": "sakshi", "age":"21","city":"pune"}
print (person["name"])
print (person["age"])

# using get() method to avoid keyError
print(person.get("city"))
print(person.get("country","not specified"))
print(person.get("address"))

sakshi
21
pune
not specified
None

Modifying Dictionaries

In [30]:
person ["email"] = "sakshi@gmail.com"
print (person)

# updating existing key's value
person["age"]= 21
person["name"]="sakshi"
print(person)

{'name': 'sakshi', 'age': '21', 'city': 'pune', 'email': 'sakshi@gmail.com'}
{'name': 'sakshi', 'age': 21, 'city': 'pune', 'email': 'sakshi@gmail.com'}

In [31]:
# remonving item with del
del person["email"]
print(person)

# remonving item with pop()
age = person.pop("age")
print(age)
print(person)

{'name': 'sakshi', 'age': 21, 'city': 'pune'}
21
{'name': 'sakshi', 'city': 'pune'}

In [32]:
person.clear()
print(person)

{}

Dictionary Method

In [34]:
# keys()
person ={"name": "sakshi","age":21,"city":"pune"}
keys = person.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [35]:
# values()
values =person.values()
print (values)

dict_values(['sakshi', 21, 'pune'])

In [36]:
#items()
items = person.items()
print (items)

dict_items([('name', 'sakshi'), ('age', 21), ('city', 'pune')])

In [44]:
# update()
additional_info = {"email":"sakshi@gmail.com","phone":"1111111111"}
person.update(additional_info)
print(person)

{'name': 'sakshi', 'age': 21, 'email': 'sakshi@gmail.com', 'phone': '1111111111'}

In [42]:
# pop()
city = person.pop("city")
print(city)
print(person)

pune
{'name': 'sakshi', 'age': 21}

In [45]:
#popitem()
last_item = person.popitem()
print(last_item)
print(person)

('phone', '1111111111')
{'name': 'sakshi', 'age': 21, 'email': 'sakshi@gmail.com'}

In [46]:
# copy
person_copy = person.copy()
print(person_copy)

{'name': 'sakshi', 'age': 21, 'email': 'sakshi@gmail.com'}

In [47]:
# fromkey
keys = ["name","age","city"]
default_dict= dict.fromkeys(keys, "unknown")
print(default_dict)

{'name': 'unknown', 'age': 'unknown', 'city': 'unknown'}

Iteratin over Dictionary

In [52]:
# Iteratin over keys()
for key in person.keys():
    print(key)

# Iteratin over values()
for value in person.values():
    print(value)

# Iteratin over key-values pairs
for key, value in person.items():
    print(f"{key}:{values}")

name
age
email
sakshi
21
sakshi@gmail.com
name:dict_values(['sakshi', 21, 'sakshi@gmail.com'])
age:dict_values(['sakshi', 21, 'sakshi@gmail.com'])
email:dict_values(['sakshi', 21, 'sakshi@gmail.com'])

In [20]:
# counting the characater of each in srting
text="hello world"
char_count={}

for char in text :
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1
    print(char_count)

{'h': 1}
{'h': 1, 'e': 1}
{'h': 1, 'e': 1, 'l': 1}
{'h': 1, 'e': 1, 'l': 2}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1, 'w': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'w': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'w': 1, 'r': 1}
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1}
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

Set

In [22]:
# creating set
fruits ={"apple","bananana","cherry"}
print (fruits)

# Creating a set using the set() function
numbers = set([1,2,3,4,5])
print (numbers)

{'bananana', 'cherry', 'apple'}
{1, 2, 3, 4, 5}

In [25]:
# common set operation and methods
# adding items
fruits = {"apple","banana","guava","kivi","orange"}
fruits.add("papaya")
print(fruits)

{'papaya', 'orange', 'kivi', 'apple', 'banana', 'guava'}

In [27]:
# removig items
fruits = {"apple","banana","guava","kivi","orange"}
fruits.remove("apple")
print(fruits)

{'orange', 'kivi', 'banana', 'guava'}

In [28]:
# poping items
item = fruits.pop()
print(item)
print (fruits)

orange
{'kivi', 'banana', 'guava'}

In [29]:
item = fruits.pop()
print(item)
print (fruits)

kivi
{'banana', 'guava'}

In [30]:
item = fruits.pop()
print(item)
print (fruits)

banana
{'guava'}

In [31]:
item = fruits.pop()
print(item)
print (fruits)

guava
set()

In [33]:
# set clearing
fruits.clear()
print(fruits)

set()

In [34]:
fruits = {"apple","banana","guava","kivi","orange"}
print (fruits)

{'orange', 'kivi', 'apple', 'banana', 'guava'}

In [35]:
fruits.clear()
print(fruits)

set()

In [37]:
# set length
fruits = {"apple","banana","guava","kivi","orange"}
print(len(fruits))

5

In [38]:
# membership testing 
print ("banana"in fruits)
print("grape"in fruits)

True
False

Set Operation

In [43]:
# union
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
union_set = set1.union(set2)
print (union_set )

{1, 2, 3, 4, 5, 6, 7}

In [40]:
# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [44]:
# difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [51]:
# Symmetric difference
symmetric_difference_set =  set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 6, 7}

Set Operation

In [55]:
# subset
set1={1,2,3}
set2={3,4,5}
set3={1,2}
print(set3.issubset(set1))
print(set1 >= set3)

# superset
print(set3.issuperset(set1))
print(set1 >= set3)

# disjoin set
print(set3.isdisjoint(set1))
print(set1 >= set3)

True
True
False
True
False
True

Difining a function

In [64]:
def greet(sakshi):
    """Function to greet a person . """
    return f"hello, {name}!"
    print(greet ("sakshi"))



# function arguments
def sum(a,b):
  calling with argument 
Sum(20,10)

# default parameter value
Def sum (a,)

# return values
-def square(x):
  return x*x
S=square (5)

SyntaxError: invalid syntax (2659504065.py, line 10)